* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	overflow: hidden;
}

.header {
	height: 50px;
	width: 150px;
	margin: 20px auto 0;
	background: url("../img/ic_title.png") no-repeat;
	background-size: 100% 100%;
}

.div_top {
	box-shadow: 0 1px 2px 1px #cdcdcd;
	margin-top: 20px;
}

#div_delete {
	position: absolute;
	height: 80px;
	right: 0px;
	width: 10%;
	border-top: 6px solid #fde30a;
}

#div_delete .div_delete_icon {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 24px;
	width: 16px;
	background: url("../img/ic_delete.png") no-repeat;
	background-size: 100% 100%;
}

#div_input_box {
	width: 90%;
	height: 80px;
	text-align: center;
	font-size: 2em;
	color: #666666;
	line-height: 80px;
	overflow: auto;
	border-top: 6px solid #fde30a;
}

.main_control_group {
	width: 100%;
	height: 50px;
	background-color: #fde30a;
	position: relative;
}

.main_control_group #div_next {
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: absolute;
}

.main_control_group #div_next .div_ic {
	height: 20px;
	width: 60px;
	margin: 15px auto 0;
	background: url("../img/ic_next.png") no-repeat;
	background-size: 100% 100%;
}

.main_control_group #div_sure {
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: absolute;
	left: 50%;
}

.main_control_group #div_sure .div_ic {
	height: 20px;
	width: 40px;
	margin: 15px auto 0;
	background: url("../img/ic_sure.png") no-repeat;
	background-size: 100% 100%;
}

.div_operation_symbol {
	width: 100%;
	height: 50px;
	background-color: #d8ca5d;
	position: relative;
}

.div_operation_symbol .div_symbol{
	position: absolute;
	color: white;
	width: 16.6%;
	height: 100%;
	font-size: 1.6em;
	line-height: 50px;
	text-align: center;
}

.div_operation_symbol #div_symbol2{
	left: 16.6%;
}

.div_operation_symbol #div_symbol3{
	left: 33.2%;
}

.div_operation_symbol #div_symbol4{
	left: 49.8%;
}

.div_operation_symbol #div_symbol5{
	left: 66.4%;
}

.div_operation_symbol #div_symbol6{
	left: 83%;
}

.div_bottom {
	margin-top: 40px;
	box-shadow: 0 1px 2px 1px #cdcdcd;
	height: 120px;
	border-top: 6px solid #fde30a;
	border-bottom: 6px solid #fde30a;
	position: relative;
}

.div_bottom .div_num {
	position: absolute;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: #666666;
	font-size: 3em;
	width: 25%;
}

.div_bottom #div_num1 {
	border-right: 1px solid #fde30a;
}

.div_bottom #div_num2 {
	left: 25%;
	border-right: 1px solid #fde30a;
}

.div_bottom #div_num3 {
	left: 50%;
	border-right: 1px solid #fde30a;
}

.div_bottom #div_num4 {
	left: 75%;
}

#div_timer {
	width: 100%;
	margin-top: 30px;
	color: #666666;
	font-size: 2.4em;
	text-align: center;
}

#div_dialog {
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

#div_dialog.hidden {
	opacity: 0;
}

#div_dialog .div_shadow {
	position: absolute;
	z-index: 4;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.6);
}

#div_dialog .div_content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 5;
	width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 0 2px 4px 2px rgba(51, 51, 51, 0.3);
	overflow: hidden;
}

#div_dialog .div_content .div_title {
	margin-top: 30px;
	font-size: 1.4em;
	color: #333333;
	width: 100%;
	text-align: center;
}

#div_dialog .div_content .div_text {
	font-size: 1em;
	color: #666666;
	width: 260px;
	margin: 20px;
}

#div_dialog .div_content #div_begin {
	font-size: 1.2em;
	color: white;
	height: 42px;
	width: 260px;
	margin: 20px;
	line-height: 42px;
	text-align: center;
	background-color: #fde30a;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

#div_notification {
	width: 100%;
	height: 100%;
	display: none;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

#div_notification.hidden {
	opacity: 0;
}

#div_notification.show {
	opacity: 1;
}

#div_notification .div_shadow {
	position: absolute;
	z-index: 4;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.6);
}

#div_notification .div_content {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 5;
	width: 300px;
	height: 140px;
	background-color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 0 2px 4px 2px rgba(51, 51, 51, 0.3);
	overflow: hidden;
}

#div_notification .div_content #div_text {
	font-size: 1.2em;
	text-align: center;
	color: #666666;
	width: 260px;
	margin: 20px;
	margin-top: 30px;
}

#div_notification .div_content #div_button {
	font-size: 1.2em;
	color: white;
	height: 42px;
	width: 260px;
	margin: 20px;
	line-height: 42px;
	text-align: center;
	background-color: #fde30a;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}
